<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Header Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
<div th:fragment="header">
			<header id="header">
				<h1 class="logo-site">
					<img src="/cas/images/logo-site.png" alt="Espace personnel - Vins de Provence" />
				</h1>
			</header>
</body>
</html>

