<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:with="is_template_ava = (${service}) ? (${#strings.contains(service, 'ava-aoc')}) : 0 ">
<th:block th:if="${is_template_ava}">
<!----

        AVA Layout

-->
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"
        th:text="${#strings.defaultString(#themes.code('cas.theme.name'), 'Portail de l’association des viticulteurs d’Alsace')}">
    </title>

    <!--/* Core CAS CSS */-->
    <span th:remove="tag" th:if="${'true' == #strings.defaultString(#themes.code('cas.css.core.enabled'), 'true')}">
        <span th:replace="ava/fragments/includes :: stylesheets">
            <a href="ava/fragments/includes.html">Theme</a> stylesheet fragment will go here
        </span>
    </span>

    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="./ava/css/cas.css"/>

    <link rel="shortcut icon"
        th:href="@{${#strings.defaultString(#themes.code('cas.favicon.file'), './ava/image/favico.ico')}}" />
</head>

<body>
    <script th:replace="ava/fragments/scripts"></script>

    <div id="parentpage">
		<div id="page">
    <div th:replace="ava/fragments/header :: header">
        <a href="ava/fragments/header.html">Header</a> fragment will go here
    </div>

    <div class="mdc-drawer-scrim"></div>

    <div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
        <main role="main" id="main-content" class="container-lg py-4">
            <div id="content">
                <div class="form-block">
                    <div layout:fragment="content" id="content">
                        CAS content will go here
                    </div>
                </div>
            </div>
        </main>
    </div>
    </div>
    </div>
    <div th:replace="ava/fragments/footer :: footer">
        <a href="ava/fragments/footer.html">Footer</a> fragment will go here
    </div>

</body>
</th:block>
<th:block th:unless="${is_template_ava}">
<!----

        CIVA Layout

-->
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"
        th:text="${#strings.defaultString(#themes.code('cas.theme.name'), 'Espace des professionnels du Vignoble d’Alsace')}">
    </title>

    <!--/* Core CAS CSS */-->
    <span th:remove="tag" th:if="${'true' == #strings.defaultString(#themes.code('cas.css.core.enabled'), 'true')}">
        <span th:replace="civa/fragments/includes :: stylesheets">
            <a href="civa/fragments/includes.html">Theme</a> stylesheet fragment will go here
        </span>
    </span>

    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="./civa/css/cas.css"/>

    <link rel="shortcut icon"
        th:href="@{${#strings.defaultString(#themes.code('cas.favicon.file'), './civa/image/favico.ico')}}" />
</head>

<body>
    <script th:replace="civa/fragments/scripts"></script>

    <div id="parentpage">
		<div id="page">
    <div th:replace="civa/fragments/header :: header">
        <a href="civa/fragments/header.html">Header</a> fragment will go here
    </div>

    <div class="mdc-drawer-scrim"></div>

    <div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust justify-content-center">
        <main role="main" id="main-content" class="container-lg py-4">
            <div id="content">
                <div class="form-block">
                    <div layout:fragment="content" id="content">
                        CAS content will go here
                    </div>
                </div>
            </div>
        </main>
    </div>
    </div>
    </div>
    <div th:replace="civa/fragments/footer :: footer">
        <a href="civa/fragments/footer.html">Footer</a> fragment will go here
    </div>

</body>
</th:block>
</html>
