<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Header Fragment</title>
    <link href="./css/color.css" rel="stylesheet"/>
    <link href="./css/cas.css" rel="stylesheet"/>
</head>

<body>
<div th:fragment="header">
    <header id="header">
	    <div class="header-top">
		    <div class="container">
                <div class="logos">
				    <h1>Espace des producteurs de l'AOC Ventoux</h1>
				</div>
			    </div>
			  </div>
			</header>
</body>
</html>
