<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Login Sidebar Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>

<body>
    <main role="main" class="container mt-3 mb-3">
        <div th:fragment="sidecaroussel" class="d-flex flex-column justify-content-between m-auto">
            <div id="carrousel_presentation">
                <div class="desc">
                        <h2>Déclarez en ligne</h2>
                </div>
            </div>
            <div id="carrousel_footer">
                <a href="https://VinsAlsace.pro/"><img src="./civa/images/bandeau_civa_gauche.png" alt="EspacePro VinsAlsace"/></a>
            </div>
        </div>
    </main>
</body>

</html>
