<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Header Fragment</title>
    <link href="./css/color.css" rel="stylesheet"/>
    <link href="./css/cas.css" rel="stylesheet"/>
</head>

<body>
<div th:fragment="header">
    <header id="header">
	    <div class="header-top">
		    <div class="container">
                <div class="logos">
				    <h1>Espace des producteurs des vins du centre loire</h1>
<!--
                    <img src="images/logo-chateaumeillant.png" alt="chateaumeillant"/>
                    <img src="images/logo-menetousalon.png" alt="menetousalon"/>
                    <img src="images/logo-pouilly.png" alt="pouilly"/>
                    <img src="images/logo-reuilly.png" alt="reuilly"/>
                    <img src="images/logo-sancerre.png" alt="sancerre"/>
                    <img src="images/logo-oivc.png" alt="oivc"/>
-->
				</div>
			    </div>
			  </div>
			</header>
</body>
</html>
