<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Login header</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>

<body>
    <div th:fragment="loginheader" id="loginheader">
    <div class="presentation">
      <div class="col-12 presentation-title">
            <center><h1>Espace Professionnel</h1></center>
      </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-1 first-connection">
            <div class="row">
                    <h2>Première connexion</h2>
                    <p class="my-2">S'il s'agit de votre première connexion, munissez-vous de votre numéro d'adhérent et du code de création à 4 chiffres que vous avez reçu.</p>
                    <p class="my-2">Pour toute question, veuillez contacter : 04 90 27 24 24</p>
                    <div class="row mt-5">
                        <div class="mt-5">
                          <a href="https://declaration.syndicat-cotesdurhone.com/teledeclarant/code_creation?service=https%3a%2f%2fdeclaration.syndicat-cotesdurhone.com%2f" class="btn btn-primary btn-block btn-lg mdc-button mdc-button--raised mt-2">Créer votre compte</a>
                        </div>
                    </div>
            </div>
        </div>
	<div class="col-md-2 d-none d-md-block">
        <svg height="250" width="10" class="offset-6 my-5"><line x1="0" y1="0" x2="0" y2="300" style="stroke:#E1E1E1;stroke-width:2" /></svg>
	</div>
        <div class="col col-md-4 space-member">
                    <h2 class="h3">Vous avez un compte ?</h2>
</body>

</html>
