<script type="text/javascript" th:src="@{#{webjars.jquery.js}}"></script>
<span th:remove="tag" th:if="${'true' == #strings.defaultString(#themes.code('cas.js.core.enabled'), 'true')}">
    <span th:replace="fragments/includes :: javascript">
        <a href="fragments/includes.html">Theme</a> fragment will go here
    </span>
</span>

<script type="text/javascript" src="/cas/js/cas.js?20221109"></script>
<script type="text/javascript" src="/cas/js/material.js?20221109"></script>

<script th:inline="javascript">
    if (typeof resourceLoadedSuccessfully === "function") {
        resourceLoadedSuccessfully();
    }
    $(function() {
        typeof cssVars === "function" && cssVars({onlyLegacy: true});
    })
</script>
