<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Header Fragment</title>
    <link href="./css/cas.css" rel="stylesheet"/>
</head>

<body>
<div th:fragment="header">
			<header id="header">
			  <div class="header-top">
			     <div class="container">
				<h1 class="logo-site">
					<img src="images/logo-site.png" alt="France sud ouest. Les vins à découvrir." />
					<span>Espace des professionnels des vins et spiritueux du Sud-ouest</span>
				</h1>

				<div class="logos">
					<img src="images/logo-armagnac.png" alt="Armagnac" />
					<img src="images/logo-floc.png" alt="Floc de Gascogne" />
					<img src="images/logo-cahors.png" alt="Cahors A.O.C" />
				</div>
			    </div>
			  </div>
			</header>
</body>
</html>
