<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"
        th:text="${#strings.defaultString(#themes.code('cas.theme.name'), 'Espace des professionnels des AOC du Centre Loire')}">
    </title>

    <!--/* Core CAS CSS */-->
    <span th:remove="tag" th:if="${'true' == #strings.defaultString(#themes.code('cas.css.core.enabled'), 'true')}">
        <span th:replace="fragments/includes :: stylesheets">
            <a href="fragments/includes.html">Theme</a> stylesheet fragment will go here
        </span>
    </span>

    <link rel="stylesheet" type="text/css" href="./css/color.css"/>
    <link rel="stylesheet" type="text/css" href="./css/cas.css"/>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css"/>

    <link rel="shortcut icon"
        th:href="@{${#strings.defaultString(#themes.code('cas.favicon.file'), '/favicon.ico')}}" />
</head>

<body style="background-position: left top; background-size: 100%; background-image: url('data:image/jpg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAA0JCgsKCA0LCgsODg0PEyAVExISEyccHhcgLikxMC4pLSwzOko+MzZGNywtQFdBRkxOUlNSMj5aYVpQYEpRUk//2wBDAQ4ODhMREyYVFSZPNS01T09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT0//wgARCAAOABQDAREAAhEBAxEB/8QAFwABAAMAAAAAAAAAAAAAAAAAAwACBf/EABcBAQEBAQAAAAAAAAAAAAAAAAIBAAP/2gAMAwEAAhADEAAAAXgeOxePwUuQr//EABsQAAICAwEAAAAAAAAAAAAAAAACARQEERIx/9oACAEBAAEFArKwLlQXFODR4f/EABgRAAMBAQAAAAAAAAAAAAAAAAABEhFh/9oACAEDAQE/Ac4JEogkxH//xAAaEQACAgMAAAAAAAAAAAAAAAAAAQIhEhNh/9oACAECAQE/AdnRyMhWUh2f/8QAGBAAAwEBAAAAAAAAAAAAAAAAABAxMqH/2gAIAQEABj8CyZJ1Vf/EABwQAQEAAQUBAAAAAAAAAAAAAAEAQREhMXGRof/aAAgBAQABPyE5Z9sj7ksJ2tbswABf/9oADAMBAAIAAwAAABDd/wA//8QAGREBAQADAQAAAAAAAAAAAAAAAQAQETFh/9oACAEDAQE/EDA+kgtIA5f/xAAZEQADAQEBAAAAAAAAAAAAAAAAAREhMUH/2gAIAQIBAT8Qh8CVtL8QwXQ2p//EABwQAQADAAIDAAAAAAAAAAAAAAEAESExQXGR8P/aAAgBAQABPxC4FVXFJR1OxMRCn6eIIbpm4dxXwCuD3C6OHWXP/9k=');">
    <script th:replace="fragments/scripts"></script>

    <div id="parentpage">
		<div id="page">
    <div th:replace="fragments/header :: header">
        <a href="fragments/header.html">Header</a> fragment will go here
    </div>

    <div class="mdc-drawer-scrim"></div>

    <div class="mdc-top-app-bar--fixed-adjust d-flex justify-content-center">
        <main role="main" id="main-content" class="container-lg py-4">
            <div id="content" style="min-height: 850px">
                <div class="form-block">
                    <div layout:fragment="content" id="content">
                        CAS content will go here
                    </div>
                </div>
            </div>
        </main>
    </div>
    </div>
    </div>
    <div th:replace="fragments/footer :: footer">
        <a href="fragments/footer.html">Footer</a> fragment will go here
    </div>

</body>

</html>
