<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Header Fragment</title>
    <link href="./css/cas.css" rel="stylesheet"/>
</head>

<body>
<div th:fragment="header">
			<header id="header">
				<h1 class="logo-site">
					<img src="./images/logo-site.png" alt="Interprofession des Vins de Bergerac et Duras" />
					<span>Espace des Professionels des vins de Bergerac et Duras</span>
				</h1>
			</header>
</body>
</html>
