<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Login header</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>

<body>
    <div th:fragment="loginheader" id="loginheader">
        <h2>Espace déclaratif professionnel</h2>
        <div>
            <p style="text-align: justify;">Portail permettant aux profressionnels des Vins du Rhône, de Provence et du Sud Est de faire leurs Déclarations Récapitulatives Mensuelles (DRM) et de les transférer à la Douane.</p>
        </div>
        <h3>Entrez votre identifiant et votre mot de passe :</h3>
    </div>
</body>

</html>
