<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Header Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
<div th:fragment="header">
			<header id="header" class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust d-flex justify-content-center">
			        <div class="container-lg py-4" style="padding:0px !important"><div class="form-block"><div class="d-flex justify-content-center"><div class="d-flex justify-content-center flex-md-row flex-column mdc-card mdc-card-content card flex-grow-1">
				  <div id="logo">
		        	    <a href="/" title="">
			                <img src="/cas/images/logo_gaillac.svg" alt="Vins de Gaillac" height=125/>
			            </a>
				  </div>
				  </div></div></div></div>
			        </div>
			</header>
</body>
</html>

